<h1>All Posts from <%= @user.username %></h1>

<div>
   <ul>
      <% unless @posts.empty? %>
         <% @posts.each do |post| %>
            <%= link_to post.title, post_path(post) %>
         <% end %>
      <% end %>
   </ul>
</div>